<div class="ej-jobs" id="jobs">
  <div class="ej-jobs__heading">
    <h3 class="header-2">Procurando um Job?</h3>
    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque magnam odit porro.</p>
  </div>
  <div class="ej-jobs__container">
    <%# 
      Aqui você só vai precisar de uma partial, coloquei 6 pra testar 
    %>
    <%= render "shared/home/job-card", job_entry: {
      url: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg",
      title: "Assistente de Vendas",
      locale: "Loja de skateboard",
      description: "Vaga como assistente de vendas",
      date: "do dia 14 ao dia 18 de dezembro",
      salary: "R$1.500,00"
    }%>
    <%= render "shared/home/job-card", job_entry: {
      url: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg",
      title: "Assistente de Vendas",
      locale: "Loja de skateboard",
      description: "Vaga como assistente de vendas",
      date: "do dia 14 ao dia 18 de dezembro",
      salary: "R$1.500,00"
    }%>
    <%= render "shared/home/job-card", job_entry: {
      url: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg",
      title: "Assistente de Vendas",
      locale: "Loja de skateboard",
      description: "Vaga como assistente de vendas",
      date: "do dia 14 ao dia 18 de dezembro",
      salary: "R$1.500,00"
    }%>
    <%= render "shared/home/job-card", job_entry: {
      url: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg",
      title: "Assistente de Vendas",
      locale: "Loja de skateboard",
      description: "Vaga como assistente de vendas",
      date: "do dia 14 ao dia 18 de dezembro",
      salary: "R$1.500,00"
    }%>
    <%= render "shared/home/job-card", job_entry: {
      url: "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg",
      title: "Assistente de Vendas",
      locale: "Loja de skateboard",
      description: "Vaga como assistente de vendas",
      date: "do dia 14 ao dia 18 de dezembro",
      salary: "R$1.500,00"
    }%>
    <%= render "shared/home/job-card", job_entry: {}%>
  </div>
</div>

