    <div class="card-ejober">

    <%= link_to favoritar_ejober_path(ejober), remote: true, method: :post do %>
        <%= render 'ejobers/favoritar_button', ejober: ejober %>
<% end %>

   <%= link_to ejober do %>
    <img src="<%= cl_image_path ejober.avatar.key, :gravity=>"face", :width=>200, :height=>200,:radius=>"max", :crop=>"thumb", crop: :fill %>" />
    <div class="card-ejober-infos">
      <div>
        <h2><%= ejober.surname %></h2>
        <p><%= ejober.position %></p>
      </div>
      <div class="card-ejober-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  <% end %>
</div>
