    <h2>DADOS PESSOAIS</h2>
        <p> Nome Completo: <%= @ejober.name %> <%= @ejober.surname %></p>
        <p> CPF: <%= @ejober.cpf %></p>
        <p> Date de nascimento: <%= @ejober.birthday %></p>
        <p> Genero: <%= @ejober.gender %></p>
        <p> Ethnia: <%= @ejober.ethnic %></p>
        <p> Deficiencia: <%= @ejober.deficiency %></p>
