<nav class="ej-navbar">
  <% # <img src="" alt="" class="ej-navbar__logo"> %>
  <h2 class="title">eJobis</h2>
  <ul class="ej-navbar__options">
    <li class="ej-navbar__items">
      <a href="#" class="ej-navbar__links text">Home</a>
    </li>
    <li class="ej-navbar__items">
      <a href="#vantagens" class="ej-navbar__links text">Vantagens</a>
    </li>
    <li class="ej-navbar__items">
      <a href="#comunidade" class="ej-navbar__links text">Comunidade</a>
    </li>
    <li class="ej-navbar__items">
      <a href="#jobs" class="ej-navbar__links text">Jobs</a>
    </li>
  </ul>
  <div class="ej-navbar__auth">
    <% if user_signed_in? %>
      <%= link_to "Dashboard", "/profile", class: "link link--basic" %>
      <%= link_to "<button>Logout</button>".html_safe, destroy_user_session_path, method: :delete, class: "link link--cad" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "ej-navbar__links text" %>
      <%= link_to "<button>Cadastrar-se</button>".html_safe, new_user_registration_path, class: "link link--cad" %>
    <% end %>
  </div>
</nav>
<nav class="ej-navbar-mob">
  
  <ul class="ej-navbar-drawer">
   <li class="ej-navbar-drawer__items">
      <a href="#" class="ej-navbar-drawer__link text link--basic">Home</a>
    </li>
    <li class="ej-navbar-drawer__items">
      <a href="#vantagens" class="ej-navbar-drawer__link text link--basic">Vantagens</a>
    </li>
    <li class="ej-navbar-drawer__items">
      <a href="#comunidade" class="ej-navbar-drawer__link text link--basic">Comunidade</a>
    </li>
    <li class="ej-navbar-drawer__items">
      <a href="#jobs" class="ej-navbar-drawer__link text link--basic">Jobs</a>
    </li>
    <span class="separator"></span>
    <div class="ej-navbar-drawer__auth">
      <% if user_signed_in? %>
        <%= link_to "Dashboard", "/profile", class: "title link--basic" %>
        <%= link_to "Logout".html_safe, destroy_user_session_path, method: :delete, class: "title link--basic" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "title link--basic" %>
        <%= link_to "Cadastrar-se".html_safe, new_user_registration_path, class: "title link--basic" %>
      <% end %>
    </div>
  </ul>
  <button class="hamburger hamburger--vortex" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <h2 class="header-2">eJobis</h2>
</nav>