 <%= render 'shared/banner' %>
<class class="tema text-center">
  <h1>As <strong>Vantagens</strong></h1>
</class>
<div class="icones">
  <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/security_ugyvif.png" />
    <div class="icon-infos">
        <h2>Segurança</h2>
        <p>garantindo os direitos do trabalhador</p>
    </div>
  </div>
  <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/flexibility_u1zs27.png" />
    <div class="icon-infos">
        <h2>Flexibilidade</h2>
        <p>em acordo com a demanda do seu negócio </p>
    </div>
  </div>
   <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/costs_nkj5ka.png" />
    <div class="icon-infos">
      <div>
        <h2>Redução de Custos</h2>
        <p>contratação on-demand</p>
      </div>
    </div>
  </div>
  <div class="icon">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/performance_rcwly1.png" />
      <div class="icon-infos">
        <div>
          <h2>Redução de Custos</h2>
          <p>contratação on-demand</p>
        </div>
      </div>
    </div>
    <div class="icon">
        <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/capacitation_m3zkh2.png" />
        <div class="icon-infos">
          <div>
            <h2>Capacitação</h2>
            <p>contratação on-demand</p>
          </div>
        </div>
      </div>
     <div class="icon">
        <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/health_p12umy.png" />
        <div class="icon-infos">
          <div>
            <h2>Sistema de Plano de saude para intermitente</h2>
            <p>contratação on-demand</p>
          </div>
        </div>
      </div>
    </div>

<br>
<class class="tema text-center">
  <h1>Faça parte da <strong>communidade eJobis</strong></h1>
</class>

<br>
  <div class="cards">
    <%= link_to new_company_path do  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url(https://res.cloudinary.com/numama/image/upload/v1607920526/ejobis/company1_tibpez.png)">
        Empresa
      </div>
    <% end %>

    <%= link_to new_ejober_path do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607884602/ejobis/ejober5_xsasha.png)">
      e-Jober
    </div>
    <% end %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607920572/ejobis/maison1_alueni.png)">
      Particular
    </div>
  </div>

<br>

<class class="tema text-center">
  <h1>Procurando um <strong>eJobis</strong></h1>
</class>

<div class="cards">
    <div class="card-ejobis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-ejobis-infos">
        <h2>Assistente de vendas // loja de skateboard</h2>
        <p>Vaga como assistente de vendas <strong>do dia 14 ao dia 18 de dezembro</strong>                  R$1.500,00</p>
      </div>
    </div>
  <div class="card-ejobis">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607884635/ejobis/ejober7_mcbt2m.png" />
      <div class="card-ejobis-infos">
        <h2>Repositor de mercadorias // loja de construção </h2>
        <p>Vaga como repositor de mercadorias <strong>do dia 14 ao dia 18 de dezembro</strong>                  R$1.500,00</p>
      </div>
    </div>
  <div class="card-ejobis">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607884563/ejobis/ejober1_dluesz.png" />
      <div class="card-ejobis-infos">
        <h2>Assistente de Cozinheiro</h2>
        <p>Vaga como aprenti cozinheiro <strong>do dia 14 ao dia 18 de dezembro</strong>                 R$1.500,00</p>
      </div>
    </div>
</div>


<br>


<class class="tema text-center">
  <h1>Best <strong>eJobers</strong> do mês</h1>
</class>

<div class="cards">
      <% @ejobers.shuffle.first(3).each do |ejober| %>
        <%= link_to ejober do  %>
          <div class="card-ejober">
          <img src="<%= cl_image_path ejober.avatar.key, :gravity=>"face", :width=>200, :height=>200,:radius=>"max", :crop=>"thumb", crop: :fill %>" />
          <div class="card-ejober-infos">
            <div>
              <h2><%= ejober.name %></h2>
              <p><%= ejober.position %></p>
            </div>
            <h2 class="card-ejober-rating">***</h2>
          </div>
        </div>

        <% end %>
     <% end %>
  </div>
<br>

