 <%= render 'shared/banner' %>

<div class="tema text-center mt-5">
  <h1 class=>As <strong>Vantagens</strong></h1>
</div>
<div class="icones">
   <%= render 'shared/as_vantagens' %>

</div>

<hr class="separator" />
<div class="tema text-center">
  <h1>Faça parte da <strong>communidade eJobis</strong></h1>
</div>

  <div class="cards">
    <%= link_to new_company_path do  %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
            url(https://res.cloudinary.com/numama/image/upload/v1607920526/ejobis/company1_tibpez.png)">
        Empresa
      </div>
    <% end %>

    <%= link_to new_ejober_path do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607884602/ejobis/ejober5_xsasha.png)">
      e-Jober
    </div>
    <% end %>
<!--       <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607920572/ejobis/maison1_alueni.png)">
      Particular
    </div> -->
  </div>

<hr class="separator"/>


<div class="tema text-center">
  <h1>Best <strong>eJobers</strong> do mês</h1>
</div>

<div class="cards-ejobers">
  <%# <div class="card-ejober">
      <img src="https://source.unsplash.com/50x50/?worker"  class="card-company-avatar"/>
    <img src="https://source.unsplash.com/200x200/?worker" style="border-radius: 12px;"/>
    <div class="card-ejober-infos">
      <div>
        <h2>Fulano ciclano</h2>
        <p>Carpinteiro</p>
      </div>
      <div class="card-ejober-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
  </div> %>
  <% @ejobers.shuffle.first(4).each do |ejober| %>
    <%= render "shared/best-ejobers", ejober: ejober %>
  <% end %>

</div>

<hr class="separator"/>

<div class="tema text-center">
  <h1>Procurando um <strong>eJobis</strong></h1>
</div>

<div class="cards">
    <div class="card-ejobis">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-ejobis-infos">
        <h2>Assistente de vendas </h2>
        <p>Vaga como assistente de vendas <strong>do dia 14 ao dia 18 de dezembro</strong></p>
        <p class="salary">R$1.500,00</p>
      </div>
    </div>
  <div class="card-ejobis">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607884635/ejobis/ejober7_mcbt2m.png" />
      <div class="card-ejobis-infos">
        <h2>Repositor de mercadorias </h2>
        <p>Vaga como carregador <strong>do 14 ao dia 18 de dezembro</strong></p>
        <p class="salary">R$1.500,00</p>
      </div>
    </div>
  <div class="card-ejobis">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607884563/ejobis/ejober1_dluesz.png" />
      <div class="card-ejobis-infos">
        <h2>Assistente de Cozinheiro</h2>
        <p>Vaga como aprenti cozinheiro <strong>do dia 14 ao dia 18 de dezembro</strong></p>
        <p class="salary">R$1.500,00</p>
      </div>
    </div>
</div>


<hr class="separator"/>


