
<div class="container">
  <hr class="separator"/>
    <h1>Publicar vaga eJobis</h1>

    <%= simple_form_for [ @company, @ejobi ] do |f| %>
     <div class="row">
     <div class="col-6">
       <%= f.input :name,
                label: 'Qual é o titulo do seu ejobis',
                placeholder: 'Atendente de lojas de moda' %>
      </div>
      <div class="col-6">
          <%= f.input :position,
                      collection: [ "Assistente de vendas",
                                    "Cozinheiro geral",
                                    "Atendente de lojas e mercados",
                                    "Alimentador de linha de produção",
                                    "Agente de segurança",
                                    "Repositor de mercadorias",
                                    "Vendedor de comércio varejista",
                                    "Servente de obras",
                                    "Faxineiro",
                                    "Ajudante de motorista"],
                      placeholder: 'Assistente de vendas' %>
     </div>
   </div>

   <div class="row">
     <div class="col-12">
       <%= f.input :release,
                   label: 'Descripção do cargo e tarefas',
                    as: :text,
                    placeholder: 'Assistente de venda, vc apoiara o trabalho dos vendedores por uma loja de moda masculino' %>
     </div>
   </div>
   <div class="row">
     <div class="col-4">
       <%= f.input :start_time,
                    label: 'Que horas inicia ?',
                    as: :time %>
     </div>
     <div class="col-4">
       <%= f.input :end_time,
                    label: 'Que horas acaba ?',
                    as: :time %>
     </div>
    </div>
    <div class="row">
      <div class="col-6">
       <%= f.input :start_date,
                    label: 'Que dia inicia  ?',
                    as: :date %>
     </div>

      <div class="col-6">
       <%= f.input :end_date,
                    label: 'Que dia acaba  ?',
                    as: :date %>
     </div>
    </div>
   <div class="row">
    <div class="col-4">
        <%= f.input :state,
                    label: 'Estado:',
                    placeholder: 'SP' %>
    </div>
     <div class="col-4">
          <%= f.input :city,
                      label: 'Cidade:',
                      placeholder: 'São Paulo' %>
     </div>
     <div class="col-4">
          <%= f.input :address,
                      label: 'Endereço:',
                      placeholder: 'rua joão ramalho,586' %>
     </div>
   </div>

   <div class="row">
      <div class="col-4">
        <%= f.input :fee,
                    collection: ["125", "150", "175", "200", "250"],
                    placeholder: 'qual é o fee por dia trabalhado (8horas)'  %>
      </div>
      <div class="col-4">
       <%= f.input :avatar,
                  label: 'upload uma imagem',
                  as: :file %>
      </div>

        </div>
        <div class="row">
          <div class="col-6">
          <%= f.submit "Publicar sua vaga", class: "btn btn-primary" %>
          </div>
      </div>
  <% end %>
</div>

