
<div class="container">
  <h1>REGISTRAÇÃO DE SUA EMPRESA</h1>

  <%= simple_form_for @company do |f| %>
    <div class="row">
      <div class="col-12">
        <%= f.input :name,
                    label: 'Nome da Empresa:',
                    placeholder: 'Birds Communications' %>
      </div>
    </div>
      <div class="row">
      <div class="col-12">
        <%= f.input :release,
                    label: 'Apresenta sua empresa:',
                    placeholder: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum' %>
      </div>
    </div>

    <div class="row">
       <div class="col-6">
        <%= f.input :cnpj,
                    label: 'CNPJ:',
                    placeholder: ' 00.000.000 / 0001-00' %>
      </div>
       <div class="col-6">
        <%= f.input :phone,
                    label: 'Telephone:',
                    placeholder: ' + 55 (21)99699 5765' %>
      </div>
      <div class="row">
         </div>
       <div class="col-4">
        <%= f.input :email,
                    label: 'E-mail:',
                    placeholder: 'rh@birdscommunications.com' %>
      </div>
      <div class="col-4">
        <%= f.input :website,
                    label: 'Website:',
                    placeholder: 'rh@birdscommunications.com' %>
      </div>
      <div class="col-4">
        <%= f.input :linkedin,
                    label: 'linkedin:',
                    placeholder: 'https://www.linkedin.com/school/le-wagon/' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <%= f.input :state,
                    label: 'Estado',
                    placeholder: 'Rio de Janeiro' %>
      </div>
      <div class="col-4">
        <%= f.input :city,
                    label: 'Cidade',
                    placeholder: 'Rio de Janeiro' %>
     </div>
      <div class="col-4">
        <%= f.input :address,
                    label: 'endereço',
                    placeholder: 'rua joão ramalho,586' %>
      </div>


    </div>
    <div class="row">
    <%= f.input :logo,
                label: 'upload o logo de sua empresa',
                as: :file %>
    </div>
    <div class="row">
    <p><%= f.submit "Criar o perfil de sua empresa", class: "btn btn-success" %></p>
    </div>
  <% end %>
</div>
