<p>Find me in app/views/ejobers/show.html.erb</p>
<img src='<%= cl_image_path @ejober.avatar.key, :gravity=>"face", :width=>150, :height=>150,:radius=>"max", :crop=>"thumb", class: "avatar-ejober" %>' />

<h1> <%= @ejober.name %></h1>
<h1> <%= @ejober.surname %></h1>
<h1> Date de nascimento: <%= @ejober.birthday %></h1>
<h1> Genero: <%= @ejober.gender %></h1>
<h1> Ethnia <%= @ejober.ethnic %></h1>
<h1> Deficiencia <%= @ejober.deficiency %></h1>
<h1> Habilidade <%= @ejober.skills %></h1>
<p>  Descripção: <%= @ejober.release %></p>
<h1> Cargo <%= @ejober.position %></h1>
<h1> endereço: <%= @ejober.address %></h1>
<h1> CPF <%= @ejober.cpf %></h1>
<h1> Cidade: <%= @ejober.city %></h1>
<h1> State: <%= @ejober.state %></h1>
<h1> Whatsapp <%= @ejober.phone %></h1>
<h1> e-mail: joao@gmail.com</h1>
<h1> jpjunior</h1>
<h1> edit your perfil</h1>

